.pattern {
    min-height: 454;
    background: url(../../images/newer/adv_bg.jpg) center center/cover no-repeat;
    padding: 51px 0 46px 0;
    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        max-width: 249px;
        min-height: 115px;
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subheader {
        color: $main-color;
        font-size: 16px;
        font-weight: 700;
        margin-top: 12px;
    }
    &__icon {
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__descr {
        text-align: center;
        margin-top: 14px;
        font-size: 14px;
        font-weight: 300;
    }

}